* {
    margin: 0;
    padding: 0;
}

header.header {
    background-color: #053B50;
    height: 120px;
    position: relative;
}

.headBox {
    position: relative;
    padding: 15px 15px 15px 20px;
}

div#logoBox {
    /* padding: 15px 0px 0px 20px; */
    width: 100px;
}

div#logoBox img {
    max-width: 50px;
    filter: brightness(100);
}

#heading {
    float: left;
}

div#logo\ name {
    /* margin-left: 65px;
    margin-top: -100px;
    font-family: serif;
    padding: 0px 10px 0px;
    filter: brightness(100);
    font-size: 13px;
    box-sizing: border-box; */
}

.introduction {
    margin-left: 65px;
    margin-top: -84px;
    font-family: serif;
    padding: 0px 2px 0px;
    filter: brightness(100);
    font-size: 21px;
    box-sizing: unset;
    display: table;
    color: antiquewhite;
    font-weight: 600;
}

p.right-aligned {
    letter-spacing: 2px;
    color: #27374D;
    font-weight: 600;
}

.topbar {
    float: right;
    list-style: none;
    display: flex;
}

ul.topbar li {
    padding: 10px;
    margin: auto;
    margin-right: 15px;
}

ul.topbar li a {
    color: #dcdde1;
}

button.sociallinkbtn {
    margin-top: 8px;
}

button.sociallinkbtn {
    border-block: revert-layer;
    background-color: black;
}

ul.sociallinkbtn-scroll li::after {}